*.o
*.exe
HelloWorld/.settings/language.settings.xml
HelloWorld/.settings/org.eclipse.cdt.managedbuilder.core.prefs
HelloWorld/.cproject
HelloWorld/.project
Variables/.cproject
Variables/.project
Variables/.settings/language.settings.xml
Variables/.settings/org.eclipse.cdt.managedbuilder.core.prefs
